@import url("styles/header.css");
@import url("styles/corpo.css");
@import url("styles/sobre_corpo.css");
@import url("styles/loja.css");
@import url("styles/produtos.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --cor-primaria: #14182f;
    --cor-secundaria: #e2dcde;
    --cor-terciaria: #0cbccc;
    --cor-footer: #121212; /* Fundo escuro */
    --cor-texto: #ffffff; /* Cor do texto */
    --cor-link: #9c9c9c; /* Cor dos links */
    --cor-link-hover: #ffffff; /* Cor dos links ao passar o mouse */


    --font-primaria: 'Comfortaa', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
    --font-terciaria: 'roboto', sans-serif;
}
